-e ../../../tools/azure-sdk-tools
aiohttp>=3.0
-e ../../../tools/azure-sdk-tools
../../core/azure-core
azure-identity
../../nspkg/azure-security-nspkg
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability