../../core/azure-core
azure-mgmt-authorization
azure-mgmt-digitaltwins
-e ../../identity/azure-identity
-e ../../../tools/azure-sdk-tools
aiohttp>=3.0
../../nspkg/azure-digitaltwins-nspkg
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability