-e ../../../tools/azure-sdk-tools
azure-mgmt-keyvault<9.0.0
azure-mgmt-network<19.0.0
-e ../../resources/azure-mgmt-resource
-e ../../storage/azure-mgmt-storage
../../identity/azure-identity
aiohttp
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability