-e ../../../tools/azure-sdk-tools
-e ../../identity/azure-identity
azure-mgmt-msi
azure-mgmt-authorization
azure-mgmt-network
azure-mgmt-compute
aiohttp
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
